/* Apply your chosen font to the logo only */
/* .logo {
    font-family: "Baskervville", serif;
    font-weight: 700; 
} */

/* Buttons, navigation links, and tags */
/* #menu, button, .tag-cloud a {
    font-family: "Poppins", sans-serif;
    font-weight: 500; 
} */